
.container{
	width: 800px !important;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

@media (min-width: 1200px){
	.container{
		width: 800px !important;
	}
}

body{
	//background-color: $greybg;
	//background-color: $bg-psd;
	background-color: rgb(248, 248, 248);
	font-family: 'Montserrat', sans-serif;
	font-size: 110%;
	color: $dark;
}

a{
	color: $red !important;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	&.upper{
		text-transform: uppercase;
	}
}

.arrow-totop{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 200px;
}

.tooltip-h{
	&:hover{
		cursor: pointer;
	}
}