.card{
	padding: 20px;
	background-color: white;
	margin-bottom: 20px;
	@include rounded(5px);

	&.card-filter{
		max-width: 236px;
		h1, h2, h3, h4, h5, h6{
			margin-top: 0px;
			margin-bottom: 15px;
			color: $dark-h;
		}
	}

	p{
		&.select-title{
			font-family: 'Montserrat-Light', sans-serif;
			color: $dark-h;
			margin-bottom: 6px;
			margin-top: 13px;
		}
	}


	&.card-caleg{
		padding: 0px !important;
		.caleg-main-info{
			padding: 20px;
			padding-bottom: 10px;
		}
		p.title-caleg{
			margin-bottom: 0px;
			color: $dark-h;
			text-transform: uppercase;
			opacity: .6;
			font-size: 10px;
		}
		h1, h2, h3, h4, h5, h6{
			&.content-caleg{
				margin-top: 0px;
				line-height: 145%;
				color: $dark;
				&.content-caleg-label{
					padding-bottom: 5px;
					.label{
						margin-right: 5px;
						font-family: 'Montserrat-Light', sans-serif;
					}
				}
			}
		}
	}

}


.card{
	.detail{
		.detail-menu{
			//background-color: $greybg-accent-2;
			background-color: $white;
			ul{
				padding-left: 13px;
				li{
					width: 19%;
					display: inline-block;
					list-style-type: none;
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;
					a{
						text-transform: uppercase;
						font-size: 10px;
					}
					a{
						opacity: .7;
						transition: all .2s;
						&:hover, &:focus, &:active, &:visited{
							font-weight: normal;
							text-decoration: none;
							transition: all .2s;
							opacity: 1;
						}
					}
					&.active{
						a{
							font-weight: 700;
							transition: all .2s;
							opacity: 1;
							transition: all .2s;
							&:hover, &:focus, &:active, &:visited{
								font-weight: 700;
								text-decoration: none;
								transition: all .2s;
								color: $red;
							}
						}
					}
				}
			}
		}
		.detail-content{
			margin-top: -10px;
			padding: 0px;
			background-color: $greybg-accent-3;
			min-height: 0px;
			height: auto;
			-webkit-transition: height 0.35s ease-in-out;
			-moz-transition: height 0.35s ease-in-out;
			-o-transition: height 0.35s ease-in-out;
			transition: height 0.35s ease-in-out;
			&.in{
				-webkit-transition: height 0.35s ease-in-out;
				-moz-transition: height 0.35s ease-in-out;
				-o-transition: height 0.35s ease-in-out;
				transition: height 0.35s ease-in-out;
			}
			.content-inner{
				padding: 15px;
				height: auto;
			}
			.info-caleg-content, .berkas-caleg-content, .dukungan-caleg-content, .visi-caleg-content, .misi-caleg-content{
				display: none;
				&.show{
					display: block;
				}
				&.hidden{
					display: none;
				}
			}
		}
	}
}