.title-hero{
	text-transform: uppercase;
	color: $red;
	font-weight: 700;
	letter-spacing: -3px;
}

.desc-hero{
	font-size: 14px;
	opacity: .6;
	font-family: 'Montserrat-Light', 'sans-serif';
}

.input-search{
	width: 100%;
}

.input-search{
	::-webkit-input-placeholder {
		opacity: .4;
		font-family: 'Montserrat-Light', 'Sans-Serif';
	}
}

#typeahead-faq{
	&:focus{
		border: solid 1px $red;
		box-shadow: none !important;
	}
}

h6{
	&.faq-mini{
		margin-bottom: 15px;
		color: $dark-h;
	}
}

.faq-populer-tag{
	font-size: 9px;
}

.card-faq{
	h1, h2, h3, h4, h5, h6{
		font-family: 'Montserrat-Light', sans-serif;
		margin-top: 0px;
		margin-bottom: 30px;
		max-width: 270px;
		line-height: 1.6;
	}
}

.content-result-faq{
	padding-top: 20px;
	display: none;
	h1, h2, h3, h4, h5{
		font-family: 'Montserrat-Light', sans-serif;
		color: $red;
	}	
	p{
		font-size: 12px;
		line-height: 1.6;
	}
}

.typeahead-faq-outer{
	transition: all .9s;
	&.totop{
		transition: all .9s;
		margin-top: -150px;
	}
}

.title-search{
	overflow: auto;
	min-height: 100px;
	transition: all .9s;
	.title-search-content{

		&.hide{
			transition: all .9s;
			display: none;
		}
	}
}

.faq-populer{
	//overflow: auto;
}