

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: 'Montserrat-Hairline';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/type/Montserrat-Hairline.otf');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/type/Montserrat-Light.otf');
}