.navbar{
	&.navbar-default{
		border: none;
		background-color: transparent;
	}
}

.navbar-brand{
	img{
		position: absolute;
		top: 6px;
	}
}

.navbar-default .navbar-nav {
	a{
		text-transform: uppercase;
		font-size: 11px;
		font-style: italic;
		padding-bottom: 8px;
		padding-left: 3px;
		padding-right: 3px;
		margin-left: 15px;
		opacity: .7;
		transition: all .2s;
		&:hover{
			opacity: 1;
			transition: all .2s;
		}
	}
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: $red !important;
	opacity: 1;
	background-color: transparent;
	font-weight: 700;
	border-bottom: solid 1px $red;
}