.select2-container{
	width: 100%;
}

.select2-container .select2-choice{
	border: solid 1px #DA1A1A;
	text-transform: uppercase;
	box-shadow: none;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 37px;
	background: none;
	width: 100%;
	padding-left: 12px;
}

.select2-container .select2-choice .select2-arrow{
	background: none;
    border-left: none;
    b{
    	margin-top: 3px;
    }
}

.select2-container .select2-choice abbr{
	background: url('../js/js.s2/select2.png');
}

.select2-results .select2-highlighted{
	background: $red;
}

.select2-drop-active{
	border: solid 1px $red;
	border-top: none;
}

.select2-results li{
	text-transform: uppercase;
	margin-top: 5px;
	&:last-child{
		margin-bottom: 5px;
	}
}

.endless_scroll_loader{
	display: block;
	text-align: center; 
	margin: 0 auto; 
	display: block; 
	width: 50px; 
	bottom: 0px; 
	right: 0px;
	z-index: 20; 
	position: absolute;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  //padding: 8px 12px;
  //font-size: 12px;
  //line-height: 30px;
  //border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  margin-top: 90px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  border-bottom: solid 1px $greybg-accent-2;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  //background-color: #0097cf;
  background-color: $red;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $red;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}