.thumbnail{

	border: none;
	background-color: white;

	.statistik{
		padding: 10px;
		min-height: 110px;
		//background: url('../img/stat-bg.png');
		background: url('../img/graph red.png');
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		//text-transform: uppercase;
		h1, h2, h3, h4, h5{
			//font-weight: lighter;
			//sfont-family: 'Montserrat-Light', sans-serif;
			color: white !important;
		}
		p{
			//color: $greybg-accent;
			//font-family: 'Montserrat-Hairline', sans-serif;
			color: white;
			//opacity: .7;
		}
	}

}

p.kalkulasi{
	font-family: 'Montserrat-Light', sans-serif;
	opacity: .7;
}