.cover-lucy{
	background: url('../img/cover-lucy.png');
	min-height: 200px;
}

.thumbnail{

	padding: 0px;
	
	.detail{
		.detail-menu{
			background-color: $greybg-accent-2;
			ul{
				padding-left: 13px;
				li{
					width: 24%;
					display: inline-block;
					list-style-type: none;
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;
					&:nth-child(2){
						width: 20%;
					}
					&:nth-child(3){
						width: 20%;
					}
					&:last-child{
						width: 28%;
						padding-left: 10px;
					}
					a{
						text-transform: uppercase;
						font-size: 10px;
					}
					a{
						opacity: .7;
						transition: all .2s;
						&:hover, &:focus, &:active, &:visited{
							font-weight: normal;
							text-decoration: none;
							transition: all .2s;
							opacity: 1;
						}
					}
					&.active{
						a{
							font-weight: 700;
							transition: all .2s;
							opacity: 1;
							transition: all .2s;
							&:hover, &:focus, &:active, &:visited{
								font-weight: 700;
								text-decoration: none;
								transition: all .2s;
								color: $red;
							}
						}
					}
				}
			}
		}
		.detail-content{
			margin-top: -10px;
			padding: 15px;
			padding-top: 0px;
			//background-color: $greybg-accent-3;
			background-color: rgba(245, 245, 245, 1);
		}
	}

}

.detail-content{

	min-height: 295px;

	ul.info-calon{
		padding-left: 0px;
		li{
			text-transform: uppercase;
			list-style-type: none;
			h1, h2, h3, h4, h5{
				font-weight: 700;
				margin-bottom: 3px;
				letter-spacing: -0.05em;
			}
			p{
				opacity: .5;
				letter-spacing: -0.06em;
			}
		}
	}

}

.detail-content{
	.visi{
		background: url('../img/quote.png');
		min-height: 50px;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 30px;
		h1, h2, h3, h4, h5{
			text-align: center;
			font-family: 'Montserrat-Light', sans-serif;
			max-width: 290px;
			display: block;
			margin: 0 auto;
			margin-top: 30px;
		}
	}
}

.detail-content{
	.misi, .berita-terkait{
		ul{
			padding-left: 0px;
			li{
				list-style-type: none;
				font-size: 13px;
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: solid 1px $greybg-accent-2;
				// For berita
				h5{
					margin-bottom: 3px;
					font-family: 'Montserrat-Light', sans-serif;
				}
				p{
					color: $dark;
					font-size: 11px;
					opacity: .5;
					font-family: 'Montserrat-Light';
					margin-bottom: 0px;
				}
			}
		}
	}
}