
/*================== VARIABLES, COLOR, ETC ===================*/

// COLOR PALLETTE
$bg-psd: #F7F7F7;
$dark: #3a2628;
$dark-h: #6f6f6f;
$greybg: #FDFDFD;
$greybg-accent: #8c8485;
$greybg-accent-2: #F1F1F1;
$greybg-accent-3: #F9F9F9;
$white: #FBFBFB;
$red: #da1a1a;
$blue-link: #338CD2;


